# Default pound.cfg
# vim:ft=sh
#
# Pound listens on port 80 for HTTP and port 443 for HTTPS
# and distributes requests to 2 backends running on localhost.
# see pound(8) for configuration directives.
# You can enable/disable backends with poundctl(8).
#

User "pound"
Group "pound"
Control "/var/run/pound/pctl.sock"

# Log errors to this fil
ErrorLog /var/log/pound/pound.log

# Log accesses to a file
LogFile /var/log/pound/access.log

# Specify the logging level. This value can be overridden for specific listeners.
# 0 for no logging,
# 1 (default) for regular logging,
# 2 for extended logging (show chosen backend server as  well),
# 3 for Apache-like format (Combined Log Format with Virtual Host),
# 4 (same as 3 but without the virtual host information) and
# 5 (same as 4 but with information about the Service and BackEnd used).
LogLevel 4

# Check for backend health every 5 secs
Alive 5

# Global Client timeout value
Client 5

# Rise from default 128
Threads 2048

ListenHTTP
	Address 0.0.0.0
	Port 80
End

ListenHTTPS
	Address 0.0.0.0
	Port 443
	Cert "/etc/pki/pound.pem"

	Disable SSLv3
	SSLAllowClientRenegotiation 0
	SSLHonorCipherOrder 1
	Ciphers "ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:AES256-SHA256:!RC4:HIGH:!MD5:!aNULL:!EDH:!AESGCM"
	AddHeader  "HTTPS: on"
	RewriteLocation 0
End

Service
	BackEnd
		Address 127.0.0.1
		Port    8000
	End

	BackEnd
		Address 127.0.0.1
		Port    8001
	End
End
